.Form {
    background: lightgray;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100pc;
}
.Form .container {
    width: 900px;
    margin: 0 auto;
}